.terminalPage {
    height: 80vh;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.terminalpgContent {
    display: flex;
    height: 100%;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
}

.activeBrokers {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 20px;
    margin-right: 90px;
    margin-left: 25px;
    background-color: #000000bd;
    padding-left: 20px;
    padding-right: 20px;
}

.activeBrokers h1 {
    color: whitesmoke;
}

.brokerName {
    display: flex;
    height: 70vh;
    flex-direction: column;
    overflow-y: scroll;
}

.brokerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
    margin-top: 5px;
    border-bottom:1px solid rgb(245, 245, 245);
}

.brokerInfo p {
    color: whitesmoke;
    font-size: 17px;
    margin-left: 10px;
}

.brokerInfo a {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

.brokerInfo button {
    height: 80%;
    /* width: 100%; */
    border: 0;
    border-radius: 15px;
    background-color: #004138;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

.brokerInfo button:hover {
    transition: 0.3s;
    transform: scale(1.1);
    background-color: #158b7b;
    box-shadow: 0 0 10px rgba(245, 245, 245, 0.421);
}

.brokerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chooseBroker {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 0;
    border-radius: 20px;
    margin-right: 25px;
    background-color: #000000bd;
    padding-left: 20px;
    padding-right: 20px;
}

.connectInfo {
    display: flex;
    flex-direction: row;
}

.chooseBroker h1 {
    color: whitesmoke;
}

.brokerList {
    display: flex;
    height: 70vh;
    flex-direction: column;
    overflow-y: scroll;
}

.connectInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.connectInfo p {
    color: whitesmoke;
}

.connectInfo button {
    height: 60%;
    width: 20%;
    border: 0;
    border-radius: 2px;
    background-color: #004138;
    color: whitesmoke;
    margin-right: 20px;
}

.connectInfo button:hover {
    transition: 0.3s;
    transform: scale(1.05);
    background-color: #006457;
}