.navBar {
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #195A3E;
}

.navBar h1 {
    font-size: 30px;
    padding-left: 50px;
    color: whitesmoke;
}

a {
    text-decoration: none;
}

.unauthLinks {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;
}

.unauthLinks button {
    width: 100%;
    height: 30px;
    margin-top:auto;
    margin-bottom: auto;
    color: whitesmoke;
    justify-items: center;
    background-color: transparent;
    font-size: 15px;
    border: 0px;
}

.unauthLinks button:hover {
    transition: 0.3s;
    margin-top:auto;
    margin-bottom: auto;
    text-decoration: none;
    color: #195A3E;
    box-shadow: 0 0 10px rgba(245, 245, 245, 0.421);
    justify-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
}