.search-bar-input {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    max-width: 1000px;
    margin-right: 8px;
    margin-top: 8px;
  }
  
  @media (min-width: 480px) and (max-width: 900px) {
    .search-bar-input {
      max-width: 50%;
      margin-right: 16px;
      margin-top: 16px;
    }
  }
  
  .search-bar-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }