.connectionPage {
    /* margin-top: 10vh; */
    padding-top: 8vh;
    padding-bottom: 2vh;
    background-color: transparent;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
    width: 0;
}

.connectionpgContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #000000bd;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.connectionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    width: 100%;
    color: white;
    border-bottom: 1px solid whitesmoke;
}

.connectionView {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}

.connectionView button {
    height: 40px;
    width: 70px;
    border-radius: 5px;
    border: 0;
    background-color: #004138;
    color: whitesmoke;
    /* margin-right: 10px; */
}

.connectionView button:hover {
    transition: 0.3s;
    transform: scale(1.1);
    background-color: #158b7b;
    box-shadow: 0 0 10px rgba(245, 245, 245, 0.421);
}

.connectionStatus {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

.connectionStatus button {
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color: #004138;
    color: whitesmoke;
}

.connectionStatus button:hover {
    transition: 0.3s;
    transform: scale(1.1);
    background-color: #158b7b;
    box-shadow: 0 0 10px rgba(245, 245, 245, 0.421);
}

.connectionBody {
    display: grid;
    grid-template-columns: 20% 75%;
    padding-top: 1.5%;
    height: 80%;
}

.connectionTerminal {
    margin-left: 17%;
    display: grid;
    grid-template-rows: 5% 75% 20%;
    padding: 20px;
    height: 97%;
    width: 250px;
    border: 0;
    background-color: #000000bf;
    overflow-y: scroll;
    hyphens: auto;
    overflow-wrap: break-word;
    border-radius: 20px;
}



.fieldsInput input {
    width: 100%;
    height: auto;
}

.connectionTerminal select {
    width: 100%;
}

.connectionTerminal p {
    color: whitesmoke;
}

.connectionTerminalBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    width: 100%;
}

.connectionTerminalBody input {
    width: 240px;
    height: 20px;
    border-radius: 5px;
    border: none;
}

.connectionTerminalBody button {
    width: 40%;
    height: 30px;
    background-color: #004138;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    padding-top: 5px;
    padding-bottom: 5px;
}

.connectionTerminalBody button:hover {
    transition: 0.3s;
    transform: scale(1.1);
    background-color: #158b7b;
    box-shadow: 0 0 10px rgba(245, 245, 245, 0.421);
}

.statusBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height:60%;
}

.statusBar p {
    word-wrap:break-word;
    font-size: 12px;
}

.responsepgContent {
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding: 20px;
    background-color: #000000bd;
    margin-left: 50px;
    border-radius: 20px;
    overflow-y: scroll;
}

table {
    color: whitesmoke;
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse; 
    border: none;
}
table th {
	font-weight: bold;
	padding: 5px;
    background-color: #006457;
    border: none;
}
table td {
	padding: 5px;
    border: none;
}

table tr th:first-child {
	border-radius: 8px 0 0 8px;
    border: none;
}

table tr th:last-child {
	border-radius: 0 8px 8px 0;
    border: none;
}

table tr td:first-child {
	border-radius: 8px 0 0 8px;
    border: none;
}

table tr td:last-child {
	border-radius: 0 8px 8px 0;
    border: none;
}

table tr:nth-child(even) {
    background-color: #4f4f4f;
}

.responsePage {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.resTimeContainer {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    color: whitesmoke;
}

.responseTime {
    color: whitesmoke;
}

.information-container {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 15px;
}

.details {
    color: whitesmoke;
}

.type {
    color: whitesmoke;
}

.next-time {
    color: whitesmoke;
}

.graph {
    /* height: 10%; */
}

.select {
    margin-bottom: 10px;
}

.createGraphics {
    height: 40px;
    background-color: #004138;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.createGraphics:disabled {
    height: 40px;
    background-color: #343737;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.createGraphics:active:hover {
    transition: 0.3s;
    transform: scale(1.1);
    background-color: #158b7b;
    box-shadow: 0 0 10px rgba(245, 245, 245, 0.421);
}

.select {
    margin-right: 10px;
}

.closeGraphics {
    background-color: #004138;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.closeGraphics:hover {
    transition: 0.3s;
    transform: scale(1.1);
    background-color: #158b7b;
    box-shadow: 0 0 10px rgba(245, 245, 245, 0.421);
}

.closeGraphics {
    height: 3vw;
}

.resTimeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resTimeContainer p {
    margin-left: 50px;
}

.resTimeContainer button{
    width: 20%;
    height: 30px;
    background-color: #004138;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    padding-top: 5px;
    padding-bottom: 5px;
}

.resTimeContainer button:hover {
    transition: 0.3s;
    transform: scale(1.1);
    background-color: #158b7b;
    box-shadow: 0 0 10px rgba(245, 245, 245, 0.421);
}