.connectionPage {
    height: 200vh;
    background-size: 100%;
    background: #797979 url(../../images/japaneseCandles.jpg) no-repeat;
    padding-top: 15vh;
    padding-bottom: 5vh;
    background-attachment: fixed;
    background-size: cover;
}

.connectionpgContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #000000bd;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
}

.connectionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    color: white;
    border-bottom: 1px solid whitesmoke;
}

.connectionView {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.connectionView button {
    height: 30px;
    border-radius: 5px;
    border: 0;
    background-color: #004138;
    color: whitesmoke;
    margin-right: 10px;
}

.connectionView button:hover {
    transition: 0.3s;
    transform: scale(1.05);
    background-color: #006457;
    box-shadow: 0 0 10px rgba(245, 245, 245, 0.421);
}

.connectionStatus {
    width: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.connectionStatus button {
    height: 30px;
    border-radius: 5px;
    border: 0;
    background-color: #004138;
    color: whitesmoke;
}

.connectionStatus button:hover {
    transition: 0.3s;
    transform: scale(1.05);
    background-color: #006457;
    box-shadow: 0 0 10px rgba(245, 245, 245, 0.421);
}

.connectionBody {
    display: grid;
    grid-template-columns: 25% 75%;
    padding-top: 1.5%;
    height: 84%;
}

.connectionTerminal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: auto;
    border: 0;
    background-color: #000000bf;
    overflow-y: scroll;
    border-radius: 20px;
}

.connectionTerminal select {
    width: 100%;
}

.connectionTerminal p {
    color: whitesmoke;
}

.connectionTerminalBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    width: 100%;
}

.connectionTerminalBody input {
    width: 265px;
    height: 20px;
    border-radius: 5px;
    border: none;
}

.connectionTerminalBody button {
    width: 40%;
    height: 30px;
    background-color: #004138;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.connectionTerminalBody button:hover {
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(245, 245, 245, 0.421);
    transform: scale(1.05);
}

.responsepgContent {
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding: 20px;
    background-color: #000000bd;
    margin-left: 50px;
    border-radius: 20px;
    overflow-y: scroll;
}

table {
    color: whitesmoke;
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse; 
    border: none;
}
table th {
	font-weight: bold;
	padding: 5px;
    background-color: #006457;
    border: none;
}
table td {
	padding: 5px;
    border: none;
}

table tr th:first-child {
	border-radius: 8px 0 0 8px;
    border: none;
}

table tr th:last-child {
	border-radius: 0 8px 8px 0;
    border: none;
}

table tr td:first-child {
	border-radius: 8px 0 0 8px;
    border: none;
}

table tr td:last-child {
	border-radius: 0 8px 8px 0;
    border: none;
}

table tr:nth-child(even) {
    background-color: #4f4f4f;
}

.responsePage {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.resTimeContainer {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-left: 50px;
    color: whitesmoke;
}

.responseTime {
    color: whitesmoke;
}

.information-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-left: 50px;
}

.details {
    color: whitesmoke;
}

.type {
    color: whitesmoke;
}

.next-time {
    color: whitesmoke;
}

.graph {
    height: 10%;
}

.select {
    background-color: darkolivegreen;
    color: white;
    padding: 10px;
    margin: 10px;
}

.createGraphics {
    /* height: 3vw; */
    padding: 10px;
    border-radius: 10%;
    background-color: goldenrod;
    color: white;
}


.closeGraphics {
    height: 3vw;
}