.stock-page-container {
    margin-top: 100px;
}

.stock-graph {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.servicelist-searchbar {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}