.stock-card {
    float:left;
    border: 2px solid #000000;
    padding: 16px;
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 60%;
    display: flex;
    align-items: center;
    min-width: 800px;
}

.h2 {
    display: block;
    margin-bottom: 10px;
    margin-right: 16px;
}

.symbol {
    display: block;
    margin-left: 16px;
}

.price {
    margin-left: auto;
}
